<app-header></app-header>
<mat-toolbar>
  <button mat-raised-button color="warn" routerLink="/"> Úvod </button>
</mat-toolbar>
<div class="wrap">
<mat-card>
  <mat-card-content><img src="assets/images/index.png" alt="Obrazok osoby"></mat-card-content>
  <mat-card-content>Daniel Lieskovský</mat-card-content>
  <mat-card-content>Telefónne číslo: +421902 111 111</mat-card-content>
  <mat-card-content>Adresa: 014 01 Bytča-Mikšová</mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content><img src="assets/images/index.png" alt="Obrazok osoby"></mat-card-content>
  <mat-card-content>Július Hlubina</mat-card-content>
  <mat-card-content>Telefónne číslo: +421902 111 111</mat-card-content>
  <mat-card-content>Adresa: 017 01 Považská Bystrica Stred 44/1</mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content><img src="assets/images/index.png" alt="Obrazok osoby"></mat-card-content>
  <mat-card-content>Róbert Čelko</mat-card-content>
  <mat-card-content>Telefónne číslo: +421902 111 111</mat-card-content>
  <mat-card-content>Adresa: 017 01 Považská Bystrica Stred 43/2</mat-card-content>
</mat-card>
</div>
