<app-header></app-header>

<h2>Vitajte, pre pokračovanie sa prosím prihláste</h2>

<div class="card">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="loginForm">
        <mat-form-field>
          <input type="email" matInput placeholder="Email" formControlName="email" [(ngModel)]="user.email">
          <mat-error *ngIf="this.loginForm.get('email')?.touched && this.loginForm.get('email')?.hasError('required')">
            Email is required</mat-error>
          <mat-error *ngIf="this.loginForm.get('email')?.touched && this.loginForm.get('email')?.hasError('email')">
            Email must be a valid Email</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password" [(ngModel)]="user.password">
          <mat-error
            *ngIf="this.loginForm.get('password')?.touched && this.loginForm.get('password')?.hasError('required')">
            Password is required</mat-error>
        </mat-form-field>
        <div class="flexD">
          <div class="button">
            <button (click)="login(user)" type="submit" mat-raised-button color="warn" [disabled]="!loginForm.valid">Login</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

