p {
  margin: 0;
}

.spacebetween {
  margin-right: 1%;
}

.example-spacer {
  flex: 2 1 auto;
}

table {
  text-align: center;
}


.innerdata {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1%;
}

.inputfields {
  display: flex;
  flex-direction: column;
}

mat-card-content form {
  display: flex;
  flex-direction: column;
}
