h2 {
  text-align: center;
}

mat-card {
  max-width: 75%;
  margin-bottom: .5%;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
}

mat-card-content {
  padding-right: .5%;
}

.example-spacer {
  flex: 1 1 auto;
}
