<app-header></app-header>
<p>
  <mat-toolbar>
    <button mat-raised-button color="warn" routerLink="/logged" class="spacebetween">Back</button>
    <button (click)="fetchData()" mat-raised-button color="warn" >Fetch data</button>
    <span class="example-spacer"></span>
    <button (click)="logout()" mat-raised-button color="primary">Logout</button>
  </mat-toolbar>
</p>

<div class="innerdata">
  <div class="inputfields">
    <b>Zadaj číslo ligy:</b>
    <mat-form-field class="example-form-field">
      <mat-label>League number</mat-label>
      <input matInput type="text" [(ngModel)]="this.leagueId">
    </mat-form-field>

    <b>Zadaj názov ligy:</b>
    <mat-form-field class="example-form-field">
      <mat-label>League name</mat-label>
      <input matInput type="text" [(ngModel)]="this.leagueName">
    </mat-form-field>

    <div>
    <td><button (click)="createLeague()" mat-raised-button color="basic">Pridaj</button></td>
    <td><button (click)="updateLeague()" mat-raised-button color="primary">Uprav</button></td>
    </div>

  </div>

  <table>
    <th>League number</th>
    <th></th>
    <th>League name</th>
    <th></th>
    <th></th>
    <tr *ngFor="let liga of (leagues | sort)">
      <td>{{liga.id}}</td>
      <td></td>
      <td>{{liga.name}}</td>
      <td><button (click)="deleteLeague(liga.id); fetchData()" mat-raised-button color="warn">Vymaž</button></td>
      <td><button (click)="initializeUpdating(liga.id, liga.name); fetchData()" mat-raised-button color="primary">Uprav</button></td>
    </tr>
  </table>
</div>




