<app-header></app-header>
<p>
  <mat-toolbar>
    <button mat-raised-button color="warn" routerLink="/logged" class="spacebetween">Back</button>
    <button (click)="fetchData()" mat-raised-button color="warn" >Fetch data</button>
    <span class="example-spacer"></span>
    <button (click)="logout()" mat-raised-button color="primary">Logout</button>
  </mat-toolbar>
</p>


<div class="innerdata">
  <div class="inputfields">
    <mat-card>
      <mat-card-content>
        <b>Zadaj číslo ligy:</b>
        <form [formGroup]="leagueForm">
        <mat-form-field>
          <mat-label>League number</mat-label>
          <input matInput type="number" formControlName="leagueID" [(ngModel)]="this.leagueId">
          <mat-error *ngIf="this.leagueForm.get('leagueID')?.touched && this.leagueForm.get('leagueID')?.hasError('required')">
             Zadaj číslo ligy</mat-error>
          <mat-error *ngIf="this.leagueForm.get('leagueID')?.touched && this.leagueForm.get('leagueID')?.hasError('min')">
            Neplatná hodnota čisla ligy</mat-error>
        </mat-form-field>

        <b>Zadaj názov ligy:</b>
        <mat-form-field>
          <mat-label>League name</mat-label>
          <input matInput type="text" formControlName="leagueName" [(ngModel)]="this.leagueName">
          <mat-error *ngIf="this.leagueForm.get('leagueName')?.touched && this.leagueForm.get('leagueName')?.hasError('required')">
            Zadaj názov ligy</mat-error>
          <mat-error *ngIf="this.leagueForm.get('leagueName')?.touched && this.leagueForm.get('leagueName')?.hasError('pattern')">
            Nemôže obsahovať čislo</mat-error>
        </mat-form-field>
        </form>
        <div>
        <td><button (click)="createLeague()" mat-raised-button color="basic" [disabled]="!leagueForm.valid">Pridaj</button></td>
        <td><button (click)="updateLeague()" mat-raised-button color="primary" [disabled]="!leagueForm.valid">Uprav</button></td>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <table>
    <th>League number</th>
    <th></th>
    <th>League name</th>
    <th></th>
    <th></th>
    <tr *ngFor="let liga of (leagues | sort)">
      <td>{{liga.id}}</td>
      <td></td>
      <td>{{liga.name}}</td>
      <td><button (click)="deleteLeague(liga.id); fetchData()" mat-raised-button color="warn">Vymaž</button></td>
      <td><button (click)="initializeUpdating(liga.id, liga.name); fetchData()" mat-raised-button color="primary">Uprav</button></td>
    </tr>
  </table>
</div>



