.id mat-card-content {
  padding-top: 0;
}

.panel {
  margin-top: .5%;
}

mat-card-content {
  min-width: 20%;
}
mat-card {
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.example-spacer {
  flex: 2 1 auto;
}

@media only screen and (max-width: 768px) {
  .id mat-card-content {
    padding-left: 30%;
  }
}


