.id mat-card-content {
  padding-top: 0;
}

.id {
  min-width: 8%;
  text-align: center;
}

.panel {
  margin-top: .5%;
}

mat-card-content {
  min-width: 20%;
}

mat-card {
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}


mat-form-field {
  margin-left: 2%;
  margin-top: 1%;
}

@media only screen and (max-width: 768px) {
  .scroll {
    overflow-x: auto;
  }

  .panel {
    font-size: smaller;
    min-width: 100%;
  }

  .panel mat-card-content {
    min-width: 0;
    padding: 1%;
  }

  .middle {
    text-align: center;
  }

  .schedule {
    font-size: smaller;
    justify-content: unset;
    min-width: 100%;
  }

  .timedate {
    padding-right: 0;
  }

  .paneldate {
    margin-right: 5%;
  }

  mat-form-field {
    margin-top: 2%;
    min-width: 95%;
  }
}


