<app-header></app-header>
<app-innerleague-navbar></app-innerleague-navbar>

<mat-form-field appearance="fill">
  <mat-label>Vyber kolo</mat-label>
  <mat-select>
    <mat-option *ngFor="let index of [].constructor(this.rounds); let i = index"
                value=i+1 (click)="setValue(i+1); changedRound()">{{i+1}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-card class="panel">
  <div class="id">
  <mat-card-content><b><i>Číslo zápasu</i></b></mat-card-content>
  </div>
  <mat-card-content><b><i>Domáce mužstvo</i></b></mat-card-content>
  <mat-card-content><b><i>Hosťujúce mužstvo</i></b></mat-card-content>
  <mat-card-content class="paneldate"><b><i>Dátum</i></b></mat-card-content>
  <mat-card-content class="middle"><b><i>Konečný stav</i></b></mat-card-content>
</mat-card>
<mat-card *ngFor="let encounter of (schedule | sort)" class="schedule">
  <div class="id">
  <mat-card-content>{{encounter.id}}</mat-card-content>
  </div>
  <mat-card-content>{{encounter.hostNavigation.name}}</mat-card-content>
  <mat-card-content *ngIf="encounter.guestNavigation">{{encounter.guestNavigation.name}}</mat-card-content>
  <mat-card-content *ngIf="!encounter.guestNavigation">-</mat-card-content>
  <mat-card-content class="timedate">{{encounter.date | date: "dd.MM.yyyy"}} {{encounter.time | slice:0:5}}</mat-card-content>
  <mat-card-content>{{encounter.hostsWins}}:{{encounter.guestsWins}}</mat-card-content>
</mat-card>
