<app-header></app-header>
<app-league-navbar></app-league-navbar>
<div>
  <h1>
    Vitajte na stránke OSTZ Považská Bystrica
  </h1>
  <h4>
    Na tejto stránke sa môžete dozvedieť výsledky
    jednotlivých zápasov, aktuálne postavenie tímov v tabuľke ligy, do ktorej patria a súpisku daného tímu.
    <br>
    <br>
    <br>
    Taktiež po prihálsení môžete zadať výsledok zápasu alebo meniť súpisky.
  </h4>
</div>
<footer>
  Kontaktná osoba: Daniel Lieskovský
  <br>
  Telefónne číslo: +421 901 111 111
  <br>
  Adresa: 014 01 Bytča-Mikšová
  <br>
  <b>Pre viac kontaktných osôb kliknite Kontakt</b>

  <h5>Daniel Lieskovský pre predmet VAII</h5>
</footer>
