<app-header></app-header>
<app-league-navbar></app-league-navbar>
<div>
  <h1>
    Vitajte na stránke OSTZ Považská Bystrica
  </h1>
  <br>
  <br>
  <h4>
    Na tejto stránke sa môžete dozvedieť, ktoré tímy patria do danej ligy, hracie miestnosti jednotlivých tímov,
    súpisky jednotlivých tímov a rozpis zápasov.
    <br>
    <br>
    <br>
    Taktiež po prihálsení môžete meniť ligy, tímy, hrácov, hracie miestnosti alebo zápasy.
    <br>
    <br>
    Pre registráciu je treba kontaktovať zodpovednú osobu, ktorú nájdete v sekcií kontakty.
  </h4>
</div>
<footer>
  Kontaktná osoba: Daniel Lieskovský
  <br>
  Telefónne číslo: +421 901 111 111
  <br>
  Adresa: 014 01 Bytča-Mikšová
  <br>
  <b>Pre viac kontaktných osôb kliknite Kontakt</b>

  <h5>Daniel Lieskovský pre predmet VAII</h5>
</footer>
