h1, h4 {
  text-align: center;
}

h1 {
  font-family: "Courier New", serif;
}

h5 {
  margin:0;
}

div {
  margin-top: 10%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #b35353;
  text-align: center;
}
