<app-header></app-header>
<p>
  <mat-toolbar>
    <button mat-raised-button color="warn" routerLink="/logged">Back</button>
    <span class="example-spacer"></span>
    <input [(ngModel)]="this.playerId" placeholder="Id" >
    <button (click)="deletePlayer(this.playerId)" mat-raised-button color="warn" class="deleteB">Delete</button>
    <span class="example-spacer"></span>
    <button (click)="logout()" mat-raised-button color="primary">Logout</button>
  </mat-toolbar>
</p>

<table>
  <th>Číslo hráča</th>
  <th>Id tímu hráča</th>
  <th>Meno</th>
  <th>Priezvisko</th>
  <tr *ngFor="let playa of players">
    <td>{{playa.id}}</td>
    <td>{{playa.teamId}}</td>
    <td>{{playa.name}}</td>
    <td>{{playa.surname}}</td>
  </tr>
</table>

