<app-header></app-header>
<p>
  <mat-toolbar>
    <button mat-raised-button color="warn" routerLink="/logged" class="spacebetween">Back</button>
    <button (click)="fetchData()" mat-raised-button color="warn" >Fetch data</button>
    <span class="example-spacer"></span>
    <button (click)="logout()" mat-raised-button color="primary">Logout</button>
  </mat-toolbar>
</p>

<div class="innerdata">
  <div class="inputfields">
    <b>Zadaj meno:</b>
    <mat-card>
      <mat-card-content>
        <form [formGroup]="playerForm">
          <mat-form-field class="example-form-field">
            <mat-label>Player name</mat-label>
            <input matInput type="text" formControlName="playerName" [(ngModel)]="this.playerName">
            <mat-error *ngIf="this.playerForm.get('playerName')?.touched && this.playerForm.get('playerName')?.hasError('required')">
              Zadaj meno hráča</mat-error>
            <mat-error *ngIf="this.playerForm.get('playerName')?.touched && this.playerForm.get('playerName')?.hasError('pattern')">
              Žiadne čísla a špec. znaky</mat-error>
          </mat-form-field>

          <b>Zadaj priezvisko:</b>
          <mat-form-field class="example-form-field">
            <mat-label>Player surname</mat-label>
            <input matInput type="text" formControlName="playerSurname" [(ngModel)]="this.playerSurname">
            <mat-error *ngIf="this.playerForm.get('playerSurname')?.touched && this.playerForm.get('playerSurname')?.hasError('required')">
              Zadaj priezvisko hráča</mat-error>
            <mat-error *ngIf="this.playerForm.get('playerSurname')?.touched && this.playerForm.get('playerSurname')?.hasError('pattern')">
              Žiadne čísla a špec. znaky</mat-error>
          </mat-form-field>

          <b>Zadaj názov tímu:</b>
          <mat-form-field class="example-form-field">
            <mat-label>Team</mat-label>
            <input matInput type="number" formControlName="playerLeague" [(ngModel)]="this.playerTeamId">
            <mat-error *ngIf="this.playerForm.get('playerLeague')?.touched && this.playerForm.get('playerLeague')?.hasError('required')">
              Zadaj číslo ligy</mat-error>
          </mat-form-field>

          <div class="buttonMargin">
            <button (click)="createPlayer()" mat-raised-button color="basic" [disabled]="!playerForm.valid">Pridaj</button>
            <button (click)="updatePlayer()" mat-raised-button color="primary" [disabled]="!playerForm.valid">Uprav</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>


  <table>
    <tr>
      <th>Id tímu hráča</th>
      <th>Názov tímu hráča</th>
      <th>Meno</th>
      <th>Priezvisko</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let playa of (playersWithTeam | sort)">
      <td>{{playa.teamId}}</td>
      <td>{{playa.team.name}}</td>
      <td>{{playa.name}}</td>
      <td>{{playa.surname}}</td>
      <td><button (click)="deletePlayer(playa.id)" mat-raised-button color="warn">Vymaž</button></td>
      <td><button (click)="initializeUpdating(playa.id, playa.name, playa.surname, playa.teamId); fetchData()" mat-raised-button color="primary">Uprav</button></td>
    </tr>
  </table>
</div>
