<p>
  <mat-toolbar>
    <button mat-raised-button color="warn" routerLink="league/5">
      5.liga
    </button>

    <button mat-raised-button color="warn" routerLink="league/6">
      6.liga
    </button>

    <button mat-raised-button color="warn" routerLink="league/7">
      7.liga
    </button>

    <span class="example-spacer"></span>

    <button mat-raised-button color="basic" routerLink="contacts">
      Kontakt
    </button>

    <button mat-raised-button color="primary" class="rightSided" routerLink="logged" *ngIf="isLogged()">
      Logged
    </button>

    <button mat-raised-button color="primary" class="rightSided" routerLink="logged" *ngIf="!isLogged()">
      Login
    </button>
  </mat-toolbar>
</p>
