<app-header></app-header>
<p>
  <mat-toolbar>
    <button (click)="logout()" mat-raised-button color="primary">Logout</button>
  </mat-toolbar>
</p>
<div class="container">
  <mat-card>
    <h2>Úprava hráčov</h2>
    <mat-card-content>
      <button mat-raised-button color="warn" routerLink="playerChanges">Delete</button>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <h2>Úprava hracích miest</h2>
    <mat-card-content>
      <button class="solo" mat-raised-button color="warn" routerLink="placeChanges">Delete</button>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <h2>Úprava tímov</h2>
    <mat-card-content>
      <button mat-raised-button color="primary">Update</button>
      <button mat-raised-button color="warn">Delete</button>
      <button mat-raised-button color="link">Add</button>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <h2>Úprava líg</h2>
    <mat-card-content>
      <button mat-raised-button color="primary" routerLink="leagueChanges">Update</button>
      <button mat-raised-button color="warn" routerLink="leagueChanges">Delete</button>
      <button mat-raised-button color="link" routerLink="leagueChanges">Add</button>
    </mat-card-content>
  </mat-card>
</div>
