<app-header></app-header>
<p>
  <mat-toolbar>
    <button (click)="logout()" mat-raised-button color="primary">Logout</button>
  </mat-toolbar>
</p>
<div class="container">
  <mat-card>
    <h2>Úprava hráčov</h2>
    <mat-card-content>
      <button mat-raised-button color="warn" routerLink="playerChanges">Select</button>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <h2>Úprava hracích miest</h2>
    <mat-card-content>
      <button class="solo" mat-raised-button color="warn" routerLink="placeChanges">Select</button>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <h2>Úprava tímov</h2>
    <mat-card-content>
      <button mat-raised-button color="warn" routerLink="teamChanges">Select</button>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <h2>Úprava líg</h2>
    <mat-card-content>
      <button mat-raised-button color="warn" routerLink="leagueChanges">Select</button>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <h2>Úprava rozpisu</h2>
    <mat-card-content>
      <button mat-raised-button color="warn" routerLink="scheduleChanges">Select</button>
    </mat-card-content>
  </mat-card>
</div>
